<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:name=".AndroidAcademyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AkademiaAndroida"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AkademiaAndroida.withSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".RootActivity"
            android:exported="true" />
        <activity
            android:name=".activitieslist.ListActivity"
            android:exported="true" />
        <activity
            android:name=".youtube.YouTubeActivity"
            android:exported="true" />
    </application>
    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.android.vending" />
    </queries>
</manifest>
